.selectedFilmDetails-wrapper {
	display: flex;
	align-items: center;
	height: 100%;
}

.selectedFilmDetails-left {
	display: flex;
	flex-direction: column;
	width: 60%;
	height: 100%;
	align-items: start;
	justify-content: space-evenly;
}

.selectedFilmDetails-filmDetails {
	max-width: 70%;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.selectedFilmDetails-filmDetails > :not(:last-child) {
	margin-bottom: 10px;
}

.selectedFilmDetails-votes {
	font-weight: 900;
	font-size: 15px;
	color: hsla(0, 0%, 100%, 0.6);
}

.selectedFilmDetails-description {
	font-weight: 600;
	font-size: 20px;
}

.selectedFilmDetails-posters {
	width: 100%;
}

.selectedFilmDetails-actors {
	width: 40%;
	max-height: 400px;
	width: 40%;
	height: 100%;
}

.selectedFilmDetails-actors .defaultCarousel-swiperContainer {
	height: 100%;
}
