.selectedMovie-wrapper {
	padding: 15px 30px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
}

.selectedMovie-mainPage {
	max-width: 50%;
}

.selectedMovie-tags {
	display: flex;
	align-items: center;
}

.selectedMovie-tags > :not(:last-child) {
	margin-right: 5px;
}

.selectedMovie-backdropWrapper {
	position: absolute;
	max-width: 70%;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	z-index: -1;
}

.selectedMovie-backdrop {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	transition: filter 0.3s ease;
}

.selectedMovie-backdrop.blur {
	filter: blur(50px);
}

.selectedMovie-backdrop::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
.selectedMovie-backdrop::after {
	content: "";
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(
		90deg,
		#000 0%,
		#000 20%,
		rgba(0, 0, 0, 0.95) 30%,
		rgba(0, 0, 0, 0.85) 40%,
		rgba(0, 0, 0, 0.75) 50%,
		rgba(0, 0, 0, 0.6) 60%,
		rgba(0, 0, 0, 0.4) 70%,
		rgba(0, 0, 0, 0.2) 80%,
		transparent 100%
	);
}
