.control-wrapper {
	gap: 14px;
	max-width: 250px;
	width: 100%;
}

.control-btn {
	opacity: 0;
	visibility: hidden;
	transform: translateY(10%);
	transition: all 0.3s ease;
}

.control-btn.active {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
