.selectedMovieAbout-wrapper {
	height: 100%;
	display: flex;
	max-width: 40%;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: translateY(20px);
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: opacity transform;
}

.selectedMovieAbout-wrapper.active {
	opacity: 1;
	transform: translateY(0);
}

.selectedMovieAbout-title {
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 50px;
}

.selectedMovieAbout-tags {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 20px;
	color: gray;
	flex-wrap: wrap;
}

.selectedMovieAbout-tags > :not(:last-child) {
	margin-right: 5px;
}

.selectedMovieAbout-description {
	font-weight: 600;
	font-size: 30px;
}
