.selectedMovieAbout-wrapper {
	padding: 0 var(--selectedMovie-padding);
	height: 100%;
	display: flex;
	max-width: 40%;
	flex-direction: column;
	justify-content: center;
	opacity: 0;
	transform: translateY(20px);
	transition-timing-function: ease;
	transition-duration: 0.3s;
	transition-property: opacity transform;
}

.selectedMovieAbout-wrapper.active {
	opacity: 1;
	transform: translateY(0);
}

.selectedMovieAbout-title {
	margin-bottom: 10px;
	font-weight: 900;
	font-size: 40px;
}

.selectedMovieAbout-tags {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 17px;
	color: gray;
	flex-wrap: wrap;
}

.selectedMovieAbout-tags > :not(:last-child) {
	margin-right: 5px;
}

.selectedMovieAbout-description {
	font-weight: 600;
	font-size: 20px;
}

@media (max-width: 1024px) {
	.selectedMovieAbout-title {
		font-size: 30px;
	}

	.selectedMovieAbout-tags {
		font-size: 15px;
	}

	.selectedMovieAbout-description {
		font-size: 15px;
	}
}

@media (max-width: 768px) {
	.selectedMovieAbout-wrapper {
		max-width: 80%;
		flex-grow: 1;
	}

	.selectedMovieAbout-title {
		font-size: 20px;
	}

	.selectedMovieAbout-tags {
		font-size: 15px;
	}

	.selectedMovieAbout-description {
		font-size: 15px;
	}
}

@media (max-width: 470px) {
	.selectedMovieAbout-wrapper {
		max-width: 100%;
	}
}
