.mainPageTop-wrapper {
	margin-top: calc(-1 * var(--header-height));
	display: flex;
	min-height: 400px;
	position: relative;
	overflow: hidden;
}
.mainPageTop-wrapper::before,
.mainPageTop-wrapper::after {
	position: absolute;
	content: "";
	width: 100%;
	z-index: -1;
}

.mainPageTop-wrapper::after {
	bottom: 0;
	height: 50px;
	background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, -0.91));
}

.mainPageTop-wrapper::before {
	background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
	top: 0;
	height: 100%;
}

.mainPageTop-title {
	margin: 0 20px;
	align-self: center;
	text-align: center;
	height: 100%;
	width: 100%;
	color: white;
	font-weight: 900;
	font-size: xxx-large;
}

.mainPageTop-background {
	position: absolute;
	top: -100px;
	left: -32px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
	transform: rotate(12deg) scale(2);
	z-index: -2;
}

.mainPageTop-backgroundLine {
	display: flex;
	flex-wrap: nowrap;
	gap: 5px;
	padding: 2.5px;
	width: 100%;
	height: 100%;
}

.mainPageTop-backgroundLine .ant-image {
	aspect-ratio: 2/1;
	width: 100%;
}

.mainPageTop-backgroundLine .ant-image .ant-image-img {
	height: 100%;
}

.mainPageTop-backgroundImg {
	pointer-events: none;
	user-select: none;
	width: 100%;
	display: block;
}

@media (max-width: 768px) {
	.mainPageTop-wrapper {
		margin-top: calc(-1 * var(--tablet-headerHeight));
	}
	.mainPageTop-title {
		font-size: xx-large;
	}
}

@media (max-width: 470px) {
	.mainPageTop-wrapper {
		margin-top: calc(-1 * var(--header-height));
	}
}
