.item-input {
  border: none;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.5s ease;
  background-color: transparent;
}

.item-input:focus {
  box-shadow: none;
  color: #00aaff;
  background-color: transparent;
}

.item-input:hover,
.item-input:active  {
  background-color: transparent;
}

.item-checkbox {
  margin: 23px 14px 23px 0;
}
