.categoryList-wrapper {
	min-height: calc(100vh - (var(--header-height) + var(--footer-height) + var(--section-padding)));
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.categoryList-title {
	font-weight: 900;
	margin-bottom: 10px;
}

.categoryList-contentWrapper {
	display: flex;
	flex-grow: 1;
}

.categoryList-paginationAndList {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categoryList-paginationAndList > :last-child {
	margin-top: auto;
}

.categoryList-moviesList {
	margin: 15px 15px 15px 0;
	padding: 0;
	gap: 15px;
	display: flex;
	flex-wrap: wrap;
}


.categoryList-moviesList .movieListItem-wrapper {
	max-height: 100%;
	height: 270px;
	max-width: 100%;
	width: 180px;
}

.rc-virtual-list-holder-inner > .ant-select-item {
	transition: opacity 0.3s ease;
}

.rc-virtual-list-holder-inner > .ant-select-item.ant-select-item-option-selected {
	background-color: orange;
}

.ant-pagination-item-link .ant-pagination-item-container .anticon.ant-pagination-item-link-icon {
	opacity: 0.4;
}

.ant-pagination-item-link:hover .ant-pagination-item-container .anticon.ant-pagination-item-link-icon {
	opacity: 1;
}

.ant-pagination:hover .ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination .ant-pagination-disabled .ant-pagination-item-link {
	cursor: default;
	color: white;
	opacity: 0.5;
}

.categoryList-filter {
	position: sticky;
	top: var(--header-height);
	max-width: 200px;
	max-height: 400px;
	width: 100%;
}
