.selectedFilmActor-slideWrapper {
	display: flex;
	flex-direction: column;
	height: inherit;
}

.selectedFilmActor-slideWrapper > .ant-image {
	max-height: 80%;
	height: 100%;
}

.ant-image-img.selectedFilmActor-photo {
  height: 100%;
	object-fit: cover;
}