.listTitle-wrapper {
  padding: 0 14px;
  border-bottom: 1px solid #f1f1f1;
}

.listTitle-input {
  border: none;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.5s ease;
}

.listTitle-input:focus {
  box-shadow: none;
  color: #00aaff;
}

.listTitle-checkbox {
  margin: 23px 14px 23px 0;
}

.listTitle-checkbox .ant-checkbox-inner::after {
  border: 2px solid #fff;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  transform: rotate(90deg) scale(1) translate(-50%, -10%);
}
