.randomMovie-wrapper {
	margin-left: 10px;
	height: calc(100vh - (var(--header-height) + var(--footer-height) + var(--section-padding)));
}

.randomMovie-form > div {
	margin-bottom: 10px;
}

.randomMovie-form {
	padding: 0 20px;
}

.randomMovie-formInput .ant-input-number-handler-wrap {
	display: none;
}

.randomMovie-form > button {
	color: white;
}
