.carouselForCategories-categoryWrapper {
	width: 100%;
}

.carouselForCategories-titleWrapper {
	position: relative;
}

.carouselForCategories-categoryWrapper:hover .arrowIcon,
.carouselForCategories-categoryWrapper:focus-within .arrowIcon {
	opacity: 1;
	visibility: visible;
}

.carouselForCategories-categoryTitle {
	display: flex;
	text-decoration: none;
	margin: 0 0 10px 30px;
	color: white;
	font-weight: 900;
	align-items: center;
}

.arrowIcon {
	width: 30px;
	height: 100%;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	transition-property: opacity, visibility;
	visibility: hidden;
	opacity: 0;
	color: white;
}

.carouselForCategories-swiperContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 350px;
}
