.ticTacToe-field {
	width: 100%;
	border-radius: 28px;
	margin-top: 30px;
	padding: 44px 44px 46px 40px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff;
}

.ticTacToe-title {
	color: black;
}

.ticTacToe-field__content {
	gap: 30px;
	justify-content: space-between;
	width: 100%;
}
