.selectedFilmSeriesItem-imgWrapper {
	height: 60%;
	background-color: black;
}

.selectedFilmSeriesItem-img {
	width: 100%;
	height: 100%;
  color: white;
  transition: color .3s ease;
}

.selectedFilmSeriesItem-img:hover {
  color: orange;
}

.selectedFilmSeriesItem-about {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.selectedFilmSeriesItem-about p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
}